<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.college.mapper.HonourQueryHistoryMapper">

    <resultMap id="dataMap" type="org.jeecg.modules.college.vo.HonourDataVo">
        <result property="honourClass" column="honour_class"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <delete id="removeAll">
        DELETE zd_honour_query_history
    </delete>

    <select id="findQueryDataList" resultMap="dataMap">
        SELECT honour_type as honour_class,create_time
        FROM zd_honour_query_history TEMP
        WHERE 1 = 1
        <if test="beginTime != null and beginTime != '' ">
            AND TEMP.create_time  <![CDATA[>= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            AND TEMP.create_time <![CDATA[<= ]]> #{endTime}
        </if>
    </select>
</mapper>
