<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.college.mapper.HonourArticleMapper">


    <resultMap id="honourArticleMap" type="org.jeecg.modules.college.entity.HonourArticle">

        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="leader" column="leader"/>
        <result property="articleType" column="article_type"/>
        <result property="articleTypeTxt" column="article_type_txt"/>
        <result property="authorityType" column="authority_type"/>
        <result property="authorityTxt" column="authority_txt"/>
        <result property="achievementType" column="achievement_type"/>
        <result property="achievementTypeTxt" column="achievement_type_txt"/>
        <result property="achievementLevel" column="achievement_level"/>
        <result property="achievementLevelTxt" column="achievement_level_txt"/>
        <result property="majorId" column="major_id"/>
        <result property="remarks" column="remarks"/>
        <result property="acquireTime" column="acquire_time"/>
        <result property="status" column="status"/>
        <result property="openShow" column="open_show"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="majorName" column="major_name"/>
        <result property="teamPersons" column="team_persons"/>
    </resultMap>


    <select id="queryList" resultMap="honourArticleMap">
        <if test="pageSize != null and pageSize != '' ">
            SELECT TOP ${pageSize} *
        </if>
        <if test="pageSize == null or pageSize == '' ">
            SELECT TOP 100 PERCENT *
        </if>
        FROM (
        SELECT row_number() over(ORDER BY f.status ASC,f.create_time DESC  ) AS rownumber,f.*,zm.major_name
        FROM (
        <choose>
            <when test="create == 'create'">
                <if test="examineAuth == true">
                    SELECT hf.* FROM zd_honour_article hf WHERE create_by = #{createBy} AND status <![CDATA[< ]]> 1
                    UNION ALL
                    (
                    SELECT zf.* FROM zd_honour_article zf
                    LEFT JOIN sys_user u ON zf.create_by = u.username
                    LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                    WHERE 1 = 1 AND zf.status <![CDATA[> ]]> 0
                    AND ud.dep_id IN
                    <foreach item="key" collection="departIds" open="(" separator="," close=")">
                        #{key}
                    </foreach>
                    )
                </if>
                <if test="examineAuth == false">
                    SELECT hf.* FROM zd_honour_article hf WHERE create_by = #{createBy} AND status <![CDATA[< ]]> 2
                    UNION ALL
                    (
                    SELECT zf.* FROM zd_honour_article zf
                    LEFT JOIN sys_user u ON zf.create_by = u.username
                    LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                    WHERE 1 = 1 AND zf.status = 2
                    AND ud.dep_id IN
                    <foreach item="key" collection="departIds" open="(" separator="," close=")">
                        #{key}
                    </foreach>
                    )
                </if>
                <if test="examineAuth == null">
                    SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1
                </if>
            </when>
            <when test="create == 'upload'">
                SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1 AND create_by = #{createBy} AND status <![CDATA[< ]]> 1
            </when>
            <when test="create == 'examine'">
                SELECT zf.* FROM zd_honour_article zf
                LEFT JOIN sys_user u ON zf.create_by = u.username
                LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                WHERE 1 = 1 AND zf.status <![CDATA[> ]]> 0
                AND ud.dep_id IN
                <foreach item="key" collection="departIds" open="(" separator="," close=")">
                    #{key}
                </foreach>
            </when>
            <otherwise>
                SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1 AND status = 2
            </otherwise>
        </choose>
        ) f
        LEFT JOIN zd_major zm on zm.id = f.major_id
        WHERE 1 = 1
        <if test="createBy != null and createBy != '' ">
            AND f.create_by = #{createBy}
        </if>
        <if test="articleType != null and articleType != '' ">
            AND f.article_type = #{articleType}
        </if>
        <if test="authorityType != null and authorityType != '' ">
            AND f.authority_type = #{authorityType}
        </if>
        <if test="achievementType != null and achievementType != '' ">
            AND f.achievement_type = #{achievementType}
        </if>
        <if test="achievementLevel != null and achievementLevel != '' ">
            AND f.achievement_level = #{achievementLevel}
        </if>

        <if test="hasAppendix != null and hasAppendix == 0">
            AND f.appendix_ids IS NULL
        </if>

        <if test="majorId != null and majorId != '' ">
            AND f.major_id = #{majorId}
        </if>
        <if test="status != null and status != '' ">
            AND f.status = #{status}
        </if>
        <if test="nonSubmit != null and nonSubmit != '' ">
            AND f.status <![CDATA[< ]]> #{nonSubmit}
        </if>
        <if test="beginTime != null and beginTime != '' ">
            AND f.acquire_time  <![CDATA[>= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            AND f.acquire_time <![CDATA[<= ]]> #{endTime}

        </if>
        <if test="title != null and title != '' ">
            AND f.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="leader != null and leader != '' ">
            AND f.leader LIKE CONCAT('%',#{leader},'%')
        </if>
        <if test="teamPersons != null and teamPersons != '' ">
            AND f.team_persons LIKE CONCAT('%',#{teamPersons},'%')
        </if>
        <if test="honourId != null and honourId != '' ">
            AND f.id != #{honourId}
        </if>
        ) AS temp_row
        <if test="pageSize != null and pageSize != '' ">
            WHERE rownumber>((#{pageNo}-1) * #{pageSize})
        </if>
    </select>

    <select id="countList" resultType="int">
        SELECT COUNT(f.id)
        FROM (
        <choose>
            <when test="create == 'create'">
                <if test="examineAuth == true">
                    SELECT hf.* FROM zd_honour_article hf WHERE create_by = #{createBy} AND status <![CDATA[< ]]> 1
                    UNION ALL
                    (
                    SELECT zf.* FROM zd_honour_article zf
                    LEFT JOIN sys_user u ON zf.create_by = u.username
                    LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                    WHERE 1 = 1 AND zf.status <![CDATA[> ]]> 0
                    AND ud.dep_id IN
                    <foreach item="key" collection="departIds" open="(" separator="," close=")">
                        #{key}
                    </foreach>
                    )
                </if>
                <if test="examineAuth == false">
                    SELECT hf.* FROM zd_honour_article hf WHERE create_by = #{createBy} AND status <![CDATA[< ]]> 2
                    UNION ALL
                    (
                    SELECT zf.* FROM zd_honour_article zf
                    LEFT JOIN sys_user u ON zf.create_by = u.username
                    LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                    WHERE 1 = 1 AND zf.status = 2
                    AND ud.dep_id IN
                    <foreach item="key" collection="departIds" open="(" separator="," close=")">
                        #{key}
                    </foreach>
                    )
                </if>
                <if test="examineAuth == null">
                    SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1
                </if>
            </when>
            <when test="create == 'upload'">
                SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1 AND create_by = #{createBy} AND status <![CDATA[< ]]> 1
            </when>
            <when test="create == 'examine'">
                SELECT zf.* FROM zd_honour_article zf
                LEFT JOIN sys_user u ON zf.create_by = u.username
                LEFT JOIN sys_user_depart ud ON ud.user_id  = u.id
                WHERE 1 = 1 AND zf.status <![CDATA[> ]]> 0
                AND ud.dep_id IN
                <foreach item="key" collection="departIds" open="(" separator="," close=")">
                    #{key}
                </foreach>
            </when>
            <otherwise>
                SELECT zf.* FROM zd_honour_article zf WHERE 1 = 1 AND status = 2
            </otherwise>
        </choose>
        ) f
        WHERE 1 = 1
        <if test="articleType != null and articleType != '' ">
            AND f.article_type = #{articleType}
        </if>
        <if test="authorityType != null and authorityType != '' ">
            AND f.authority_type = #{authorityType}
        </if>
        <if test="achievementType != null and achievementType != '' ">
            AND f.achievement_type = #{achievementType}
        </if>
        <if test="achievementLevel != null and achievementLevel != '' ">
            AND f.achievement_level = #{achievementLevel}
        </if>

        <if test="majorId != null and majorId != '' ">
            AND f.major_id = #{majorId}
        </if>

        <if test="hasAppendix != null and hasAppendix == 0">
            AND f.appendix_ids IS NULL
        </if>

        <if test="status != null and status != '' ">
            AND f.status = #{status}
        </if>
        <if test="nonSubmit != null and nonSubmit != '' ">
            AND f.status <![CDATA[< ]]> #{nonSubmit}
        </if>
        <if test="beginTime != null and beginTime != '' ">
            AND f.acquire_time  <![CDATA[>= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            AND f.acquire_time <![CDATA[<= ]]> #{endTime}

        </if>
        <if test="title != null and title != '' ">
            AND f.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="leader != null and leader != '' ">
            AND f.leader LIKE CONCAT('%',#{leader},'%')
        </if>
        <if test="teamPersons != null and teamPersons != '' ">
            AND f.team_persons LIKE CONCAT('%',#{teamPersons},'%')
        </if>
        <if test="honourId != null and honourId != '' ">
            AND f.id != #{honourId}
        </if>
    </select>

    <select id="findById" resultMap="honourArticleMap">
        SELECT  a.*,zm.major_name
        FROM zd_honour_article a
        LEFT JOIN zd_major zm on zm.id = a.major_id
        WHERE 1 = 1
        AND a.id = #{id}
    </select>

    <select id="queryListByIds" resultMap="honourArticleMap">
        SELECT a.*,zm.major_name
        FROM zd_honour_article a
        LEFT JOIN zd_major zm on zm.id = a.major_id
        WHERE 1 = 1
        AND a.id in
        <foreach item="key" collection="ids" open="(" separator="," close=")">
            #{key}
        </foreach>
    </select>

    <update id="submitBatch">
        UPDATE zd_honour_article
        SET status = 1
        WHERE 1 = 1
        AND id in
        <foreach item="key" collection="ids" open="(" separator="," close=")">
            #{key}
        </foreach>
    </update>

    <update id="passBatch">
        UPDATE zd_honour_article
        SET status = 2
        WHERE 1 = 1
        AND id in
        <foreach item="key" collection="ids" open="(" separator="," close=")">
            #{key}
        </foreach>
    </update>

</mapper>
