<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.college.mapper.HonourAuthMapper">


    <resultMap id="honourAuthMap" type="org.jeecg.modules.college.entity.HonourAuth">

        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="authType" column="auth_type"/>
        <result property="editAuth" column="edit_auth"/>
        <result property="editDeadline" column="edit_deadline"/>
        <result property="downloadAuth" column="download_auth"/>
        <result property="downloadDeadline" column="download_deadline"/>
        <result property="exportAuth" column="export_auth"/>
        <result property="exportDeadline" column="export_deadline"/>
        <result property="showAuth" column="show_auth"/>
        <result property="showDeadline" column="show_deadline"/>
        <result property="examineAuth" column="examine_auth"/>
        <result property="examineDeadline" column="examine_deadline"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="realname" column="realname"/>
        <result property="username" column="username"/>
    </resultMap>


    <select id="queryListByUser" resultMap="honourAuthMap">
        SELECT TOP ${pageSize} *
        FROM (
        SELECT row_number() over(ORDER BY u.id ASC ) AS rownumber,t.*,u.username,u.realname
        FROM zd_honour_auth t
        LEFT JOIN sys_user u ON u.id = t.user_id
        WHERE 1 = 1
        <if test="username != null and username != '' ">
            AND u.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="userId != null and userId != '' ">
            AND t.user_id = #{userId}
        </if>
        <if test="authType != null and authType != '' ">
            AND t.auth_type = #{authType}
        </if>
        <if test="editAuth != null and editAuth != '' ">
            AND t.edit_auth > 0
        </if>
        <if test="downloadAuth != null and downloadAuth != '' ">
            AND t.download_auth > 0
        </if>
        <if test="exportAuth != null and exportAuth != '' ">
            AND t.export_auth > 0
        </if>
        <if test="showAuth != null and showAuth != '' ">
            AND t.show_auth > 0
        </if>
        <if test="examineAuth != null and examineAuth != '' ">
            AND t.examine_auth > 0
        </if>
        ) AS temp_row
        WHERE rownumber>((#{pageNo}-1) * #{pageSize})
    </select>


    <select id="countListByUser" resultType="int">
        SELECT COUNT(t.user_id)
        FROM zd_honour_auth t
        LEFT JOIN sys_user u ON u.id = t.user_id
        WHERE 1 = 1
        <if test="username != null and username != '' ">
            AND u.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="userId != null and userId != '' ">
            AND t.user_id = #{userId}
        </if>
        <if test="authType != null and authType != '' ">
            AND t.auth_type = #{authType}
        </if>
        <if test="editAuth != null and editAuth != '' ">
            AND t.edit_auth > 0
        </if>
        <if test="downloadAuth != null and downloadAuth != '' ">
            AND t.download_auth > 0
        </if>
        <if test="exportAuth != null and exportAuth != '' ">
            AND t.export_auth > 0
        </if>
        <if test="showAuth != null and showAuth != '' ">
            AND t.show_auth > 0
        </if>
        <if test="examineAuth != null and examineAuth != '' ">
            AND t.examine_auth > 0
        </if>
    </select>




    <select id="queryList" resultMap="honourAuthMap">
        SELECT TOP ${pageSize} *
        FROM (
        SELECT row_number() over(ORDER BY u.id,a.create_time ASC ) AS rownumber,a.*,u.username,u.realname
        FROM zd_honour_auth a
        LEFT JOIN sys_user u ON u.id = a.user_id
        WHERE 1 = 1
        <if test="username != null and username != '' ">
            AND u.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="userId != null and userId != '' ">
            AND a.user_id = #{userId}
        </if>
        <if test="authType != null and authType != '' ">
            AND a.auth_type = #{authType}
        </if>
        <if test="editAuth != null and editAuth != '' ">
            AND a.edit_auth = #{editAuth}
        </if>
        <if test="downloadAuth != null and downloadAuth != '' ">
            AND a.download_auth = #{downloadAuth}
        </if>
        <if test="exportAuth != null and exportAuth != '' ">
            AND a.export_auth = #{exportAuth}
        </if>
        <if test="showAuth != null and showAuth != '' ">
            AND a.show_auth = #{showAuth}
        </if>
        <if test="examineAuth != null and examineAuth != '' ">
            AND a.examine_auth = #{examineAuth}
        </if>

        ) AS temp_row
        WHERE rownumber>((#{pageNo}-1) * #{pageSize})
    </select>

    <select id="countList" resultType="int">
        SELECT COUNT(a.id)
        FROM zd_honour_auth a
        LEFT JOIN sys_user u ON u.id = a.user_id
        WHERE 1 = 1
        <if test="username != null and username != '' ">
            AND u.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="userId != null and userId != '' ">
            AND a.user_id = #{userId}
        </if>
        <if test="authType != null and authType != '' ">
            AND a.auth_type = #{authType}
        </if>
        <if test="editAuth != null and editAuth != '' ">
            AND a.edit_auth = #{editAuth}
        </if>
        <if test="downloadAuth != null and downloadAuth != '' ">
            AND a.download_auth = #{downloadAuth}
        </if>
        <if test="exportAuth != null and exportAuth != '' ">
            AND a.export_auth = #{exportAuth}
        </if>
        <if test="showAuth != null and showAuth != '' ">
            AND a.show_auth = #{showAuth}
        </if>
        <if test="examineAuth != null and examineAuth != '' ">
            AND a.examine_auth = #{examineAuth}
        </if>
    </select>

    <select id="findByUserIdAndType" resultType="int">
        SELECT COUNT(id) FROM zd_honour_auth
        WHERE 1 = 1
        AND user_id = #{userId}
        AND honour_type = #{honourType}
    </select>

    <delete id="removeByUserId" >
        DELETE zd_honour_auth
        WHERE user_id = #{userId}
    </delete>

    <update id="updateExportAuthEveryDay">
        UPDATE zd_honour_auth
        SET export_auth = 0, export_deadline = NULL
        WHERE export_auth = 2 AND export_deadline <![CDATA[<]]> GETDATE();
    </update>

    <update id="updateDownAuthEveryDay">
        UPDATE zd_honour_auth
        SET download_auth = 0, download_deadline = NULL
        WHERE download_auth = 2 AND download_auth <![CDATA[<]]> GETDATE();
    </update>

</mapper>
